* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F4D04E;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 575.98px) {
    .container {
        padding: 25px;
    }
}

.card {
    background-color: #fff;
    width: 384px;
    height: 470px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 2px #000;
}

.card:hover {
    box-shadow: 15px 15px 2px #000;
}

.card-img {
    display: flex;
    justify-content: center;
}

.card-content-img {
    width: 100%;
}

.font-title-content {
    color: #000;
}

.font-title-content:hover {
    color: #F4D04E;
    cursor: pointer;
}

.foo-author {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

